
.body{
    background-color: #f0b5a8;
    text-align: center;
}
.hex-colorido {
    background-color: #e5fd78;
    color: #FF0000;
   }
   
.bodynetflix{
    background-color: #464242;
    text-align: center;
}
   .hex-coloridonetflix {
    background-color: #171814;
    color: #FF0000;
   }
   